/* overlay.css */
#audio-visualizer-overlay {
  position: fixed;
  bottom: 72;
  left: 24;
  width: 100%;
  height: 200px;
  pointer-events: none; /* Let clicks pass through */
  z-index: 1000; /* High enough to be on top of the video */
}